@font-face {
	font-family: 'M PLUS 1p', sans-serif;
}

html,
body,
header,
.view {
	height: 100%;
}

@media (max-width: 740px) {
	html,
	body,
	header,
	.view {
		height: 100vh;
	}
}

.top-nav-collapse {
	background-color: #454944;
}

.navbar:not(.top-nav-collapse) {
	background: transparent;
}

@media (max-width: 991px) {
	.navbar:not(.top-nav-collapse) {
		background: #454944;
	}
}

h1 {
	letter-spacing: 3px;
	font-family: "M PLUS 1p", sans-serif;
}

h5 {
	letter-spacing: 3px;
}

h3 {
	font-family: "M PLUS 1p", sans-serif;
}

.hr-light {
	border-top: 3px solid #fff;
	width: 80px;
}

.container-fluid .fab {
	font-size: 500%;
	color: black;
	text-shadow: 1px 1px 4px gray, 0 0 50px white, 0 0 10px gray;
}

#halfpage h1 {
	text-shadow: 1px 1px 2px gray, 0 0 50px white, 0 0 10px gray;
}

#portfolioAnch h1 {
	font-size: 3em;
	color: black;
	font-family: 'Roboto Mono', monospace;
	letter-spacing: 1px;
}

.typewrite {
	font-size: 4em;
	color: white;
	font-family: 'Roboto Mono', monospace;
	letter-spacing: 1px;
}

span {
	border-right: .05em solid;
	animation: caret 1s steps(1) infinite;
}

@keyframes caret {
	50% {
		border-color: transparent;
	}
}

#fullpage {
	background-image: url(../images/intro-bg2.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

#halfpage {
	background-image: url(../images/bg2.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

#card1 {
	background-image: url(../images/example1.jpg);
}

#card2 {
	background-image: url(../images/example2.jpg);
}

#card3 {
	background-image: url(../images/example3.jpg);
}

.page-footer {
	background-color: #454944;
}

#downButton {
	position: absolute;
	top: 43rem;
	left: 0;
}
#arrowBounce {
	font-size: 200%;
}

.line-1{
	position: relative;
	top: 50%;
	width: 24em;
	margin: 0 auto;
	border-right: 2px solid rgba(255,255,255,.75);
	font-size: 180%;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	transform: translateY(-50%);
}

/* Animation */
.anim-typewriter{
	animation: typewriter 1s steps(12) 1s 1 normal both,
	blinkTextCursor 1000ms steps(44) infinite normal;
}
@keyframes typewriter{
	from{width: 0;}
	to{width: 6em;}
}
@keyframes blinkTextCursor{
	from{border-right-color: black;}
	to{border-right-color: transparent;}
}
