@font-face {
	font-family: 'M PLUS 1p', sans-serif;
}

html,
body,
header,
.view {
	height: 100%;
}

@media (max-width: 740px) {
	html,
	body,
	header,
	.view {
		height: 100vh;
	}
}

.top-nav-collapse {
	background-color: #454944 !important;
}

.navbar:not(.top-nav-collapse) {
	background: transparent !important;
}

@media (max-width: 991px) {
	.navbar:not(.top-nav-collapse) {
		background: #454944 !important;
	}
}

h1 {
	letter-spacing: 3px;
}

h5 {
	letter-spacing: 3px;
}

.hr-light {
	border-top: 3px solid #fff;
	width: 80px;
}

#glyphiconBig {
	font-size: 500%;
}


.typewrite {
	font-size: 4em;
	color: white;
	font-family: "M PLUS 1p", monospace;
}

span {
	border-right: .05em solid;
	animation: caret 1s steps(1) infinite;
}

@keyframes caret {
	50% {
		border-color: transparent;
	}
}